@font-face {
    font-family: face;
    src: url(../fontes/ANODETONOONE.TTF);
}

h1 {
    color: #603A03;
    font-family: face;
    font-size: 40px;
}

body {
    background-image: url(../imgs/fundo.jpg);
}

#container {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 950px;
}

#inicio {
    background-color: #fff;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 10px;
    text-align: center;
    width: 350px;
}

#fundoGame {
    background-image: url(../imgs/fundo_game.jpg);
    border-color: #fff;
    border-style: solid;
    height: 630px;
    width: 950px;

}

#jogador {
    background-image: url(../imgs/apache.png);
    height: 66px;
    left: 8px;
    position: absolute;
    top: 179px;
    width: 256px;
}

#amigo {
    background-image: url(../imgs/amigo.png);
    height: 51px;
    left: 10px;
    position: absolute;
    top: 464px;
    width: 44px;
}

#inimigo1 {
    background-image: url(../imgs/inimigo1.png);
    height: 66px;
    left: 689px;
    position: absolute;
    top: 253px;
    width: 256px;
}

#inimigo2 {
    background-image: url(../imgs/inimigo2.png);
    height: 70px;
    left: 775px;
    position: absolute;
    top: 447px;
    width: 165px;
}

/* Animação */
.animal {
    background-image: url(../imgs/);
    animation:play .5s steps(2) infinite;
}

